<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="style.css" charset="utf-8">

        <script type="text/html" id="albumTemplate">
          <article class="templatePic" data-index="">
            <li><h2><%= caption %></h2></li>
            <li><img src="<%= imgSrc1 %>"></li>
            <li><img src="<%= imgSrc2 %>"></li>
            <li><img src="<%= imgSrc3 %>"></li>
          </article>
        </script>



  </head>
  <body>

        <section class="navclass">
            <nav class="homeNav">
              <ul>
                <li><a href = "#" rel="album1">Album 1</a></li>
                <li><a href = "#" rel="album2">Album 2</a></li>
                <li><a href = "#" rel="album3">Album 3</a></li>
                <li><a href = "#" rel="album4">Album 4</a></li>
                <li><a href = "#" rel="album5">Album 5</a></li>
                <li><a href = "#" rel="album6">Album 6</a></li>
                </ul>
              </nav>
        </section>

        <section class="picturebox">
            <div class="empty1 clickedElement"></div>
            <div class="album1"></div>
            <div class="album2"></div>
            <div class="album3"></div>
            <div class="album4"></div>
            <div class="album5"></div>
            <div class="album6"></div>


        </section>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src ="main.js"></script>
  </body>
</html>
