body {
  padding: 0;
  margin: 0 auto; }

.navclass {
  background-color: grey;
  width: 29%;
  margin: 0px 0px 0px 0px;
  padding: 0;
  display: inline-block; }

div {
  padding: 0;
  margin: 0 auto;
  display: inline; }

.hideElement {
  display: none; }

.picturebox {
  display: inline-block;
  width: 69%;
  background-color: yellow;
  padding: 0;
  margin: 0 auto; }
  .picturebox .empty1 {
    display: inline;
    padding: 0;
    margin: 0; }
    .picturebox .empty1 img {
      max-height: 150px;
      border-radius: 100%;
      display: inline-block;
      margin: 0auto; }

.clickedElement {
  display: inline-block; }
  .clickedElement img {
    max-height: 300px;
    display: inline-block;
    padding: 0;
    margin: 0 auto; }

h2 {
  font-size: 30px;
  margin: 0 auto; }
